extends layout

block content
  br
  h1= title
  p Welcome to #{title}

  body
  .mx-auto(style="width: 100%;")
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href="#") Hello #username
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      #navbarText.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href="/")
              | Feed
              span.sr-only (current)
          li.nav-item
            a.nav-link(href="posts") Posts
          li.nav-item
            a.nav-link(href="profile") Profile

        ul.nav.justify-content-end
          li.nav-item
            a.nav-link(href="login") Login
          li.nav-item
            a.nav-link(href="register") Register
          li.nav-item
            a.nav-link(href="logout") Logout


    br
    .card.text-center
      .card-header
        | Mibo. What´s next.
      .card-body
        h5.card-title What I wanna to say.
        p.card-text With supporting text below as a natural lead-in to additional content.
      .card-footer.text-muted
        | 2 days ago

    br
    .card.text-center
      .card-header
        | Mibo. What´s next.
      .card-body
        h5.card-title Nowadays supporting is rare.
        p.card-text With supporting text below as a natural lead-in to additional content.
      .card-footer.text-muted
        | 7 days ago

    br
    .card.text-center
      .card-header
        | Mibo. What´s next.
      .card-body
        h5.card-title What is going on.
        p.card-text With supporting text below as a natural lead-in to additional content.
      .card-footer.text-muted
        | 10 days ago

