extends layout

block content
  br
  .container-fluid
        .row
          .col-sm
            h1= title
            p Welcome to #{title}

  body
    br
    #postContainer.container-fluid
      

