extends layout

block content
  br
  .container-fluid
        .row
          .col-sm
            h1= title
            p Welcome to #{title}

  body
  .mx-auto(style="width: 100%;")
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href="#") Hello #username
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      #navbarText.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href="/")
              | Feed
              span.sr-only (current)
          li.nav-item
            a.nav-link(href="posts") Posts
          li.nav-item
            a.nav-link(href="profile") Profile

        ul.nav.justify-content-end
          li.nav-item
            a.nav-link(href="login") Login
          li.nav-item
            a.nav-link(href="register") Register
          li.nav-item
            a.nav-link(href="logout") Logout


    br
    .container-fluid
        .row
          .col-sm
            .card.text-center
              .card.text-white.bg-secondary.mb-3(style="max-width: 100%;")
                .card-header Mibo. What´s next.
                .card-body
                  h5.card-title Posting
                  p.card-text
                    | Some quick example text to build on the card title and make up the bulk of the card's content.

            br
            .card.text-center
              .card.text-white.bg-secondary.mb-3(style="max-width: 100%;")
                .card-header Mibo. What´s next.
                .card-body
                  h5.card-title Posting
                  p.card-text
                    | Some quick example text to build on the card title and make up the bulk of the card's content.


            br
            .card.text-center
              .card.text-white.bg-secondary.mb-3(style="max-width: 100%;")
                .card-header Mibo. What´s next.
                .card-body
                  h5.card-title Posting
                  p.card-text
                    | Some quick example text to build on the card title and make up the bulk of the card's content.


