extends layout

block content
  br
  .container-fluid
        .row
          .col-sm
            h2 Login.
            p Please login to see your feed.
  body
    .mx-auto(style="width: 100%;")
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      #navbarText.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          a.nav-item.nav-link(href="register") Register 
          a.nav-item.nav-link.active(href="login") Login
            span.sr-only (current)
          a.nav-item.nav-link(href="logout") Logout

    br
  .container-fluid
        .row
          .col-sm
            form
              .form-group.row
                label.col-sm-2.col-form-label(for="inputUsername") Username
                .col-sm-10
                  input#inputPassword.form-control(type="username" placeholder='Your Username')
              .form-group.row
                label.col-sm-2.col-form-label(for="inputPassword") Password
                .col-sm-10
                  input#inputPassword.form-control(type="password" placeholder='*******')
              .form-group.row
                .col-sm-10
                  button.btn.btn-light(type="button") Log in
