extends layout

block content
  br
  .container-fluid
        .row
          .col-sm
            h2 Login.
            p Please login to create a new post.
  body
    br
  .container-fluid
        #login_msg.alert(role="alert")
        .row
          .col-sm
            form(action="/api/users/authenticate" method="POST" id="login_form")
              .form-group.row
                label.col-sm-2.col-form-label(for="inputUsername") Username
                .col-sm-10
                  input#inputPassword.form-control(type="username" placeholder='Your Username' name="username")
              .form-group.row
                label.col-sm-2.col-form-label(for="inputPassword") Password
                .col-sm-10
                  input#inputPassword.form-control(type="password" placeholder='*******' name="password" )
              .form-group.row
                .col-sm-10
                  button.btn.btn-light(type="button" id="login_btn") Log in
