extends layout

block content
  br
  .container-fluid
        .row
          .col-sm
            h1 Logout.
            p See you.
  body
  .container-fluid
        .row
          .col-sm
            .mx-auto(style="width: 100%;")
              nav.navbar.navbar-expand-lg.navbar-light.bg-light
                button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
                  span.navbar-toggler-icon
                #navbarNavAltMarkup.collapse.navbar-collapse
                  .navbar-nav
                    a.nav-item.nav-link(href="register") Register 
                    a.nav-item.nav-link(href="login") Login
            
        br
        p You are logged out now.