extends layout

block content
  br
  .container-fluid
        .row
          .col-sm
            h1 Your posts.
            p Create your own post.
  body
    br  
    .container-fluid
        #posts_msg.alert(role="alert")
        .row
          .col-sm
            form(id="posts_form")
              .form-group
                label(for="headline") Headline
                input#headline.form-control(type="text", placeholder="What is your main topic?" name="headline")
              .form-group
                  label(for="keywords") Keywords
                  input#keywords.form-control(type="text", placeholder="###" name="keywords")
              .form-group
                label(for="posttext") Post
                textarea#posttext.form-control(rows="3" name="textposts")
                br
                button.btn.btn-light(type="button" id="posts_btn") Submit 
            br