extends layout

block content
  br
  h1 Your posts.
  p Create your own post or have a look at your recent ones.
  body
    .mx-auto(style="width: 100%;")
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href="#") Hello #username
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      #navbarText.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href="/") Feed
          li.nav-item
            a.nav-link.active(href="posts") Posts
              span.sr-only (current)
          li.nav-item
            a.nav-link(href="profile") Profile

        ul.nav.justify-content-end
          li.nav-item
            a.nav-link(href="login") Login
          li.nav-item
            a.nav-link(href="register") Register
          li.nav-item
            a.nav-link(href="logout") Logout
    br  
    .input-group.mb-3
      .input-group-prepend
        span.input-group-text ...
      input.form-control(type="text" placeholder="Subject" aria-label="Subject")
      .input-group-append
    .input-group
      .input-group-prepend
        span.input-group-text Your Post
      textarea.form-control(placeholder="..." aria-label="Post")
      br
      button.btn.btn-light(type="button") Submit Post
    br
  h2 Your recent posts.
      
  ul
  each post in post_list
    li #{post.author}: #{post.content}

  else
    p There are no posts yet.
