extends layout

block content
  br
  .container-fluid
        .row
          .col-sm
              h1= title
              p Your personal user profile.
  body
    br
    .container-fluid
        .row
          .col-sm
            .card(style="width: 40rem;")
              .card-header
                | Your information
              ul.list-group.list-group-flush
                li.list-group-item Username
                li.list-group-item Birthday
                li.list-group-item Member since
