extends layout

block content
  
  br
  h1= title
  p Your personal user profile.
  body
    .mx-auto(style="width: 100%;")
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      #navbarNavAltMarkup.collapse.navbar-collapse
        .navbar-nav
          a.nav-item.nav-link.active(href="/")
            | Feed 
            span.sr-only (current)
          a.nav-item.nav-link(href="posts") Posts
          a.nav-item.nav-link(href="profile") Profile
          a.nav-item.nav-link(href="register") Register
          a.nav-item.nav-link(href="login") Login
          a.nav-item.nav-link(href="logout") Logout
    br
    p Username
    p Birthday
    p Member since