extends layout

block content
  br
  .container-fluid
        .row
          .col-sm
              h1= title
              p Your personal user profile.
  body
    .mx-auto(style="width: 100%;")
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href="#") Hello #username
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      #navbarText.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href="/") Feed
          li.nav-item
            a.nav-link(href="posts") Posts
          li.nav-item
            a.nav-link.active(href="profile") Profile
              span.sr-only (current)

        ul.nav.justify-content-end
          li.nav-item
            a.nav-link(href="login") Login
          li.nav-item
            a.nav-link(href="register") Register
          li.nav-item
            a.nav-link(href="logout") Logout
    br

    .container-fluid
        .row
          .col-sm
            .card(style="width: 40rem;")
              .card-header
                | Your information
              ul.list-group.list-group-flush
                li.list-group-item Username
                li.list-group-item Birthday
                li.list-group-item Member since
