extends layout

block content
  br
  .container-fluid
        .row
          .col-sm
            h2 Sign Up.
            p Please sign up, if you don't have an account.
  body
  .mx-auto(style="width: 100%;")
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      #navbarNavAltMarkup.collapse.navbar-collapse
        .navbar-nav
          a.nav-item.nav-link.active(href="register")
            | Register 
            span.sr-only (current)
          a.nav-item.nav-link(href="login") Login
          a.nav-item.nav-link(href="logout") Logout
    br

    .container-fluid
      form(action="/api/users/create" method="POST" id="register_form")
        .form-group.row
          label.col-sm-2.col-form-label(for="inputUsername") Username
          .col-sm-10
            input#inputPassword.form-control(type="username" placeholder='Create a username' name='username')
        .form-group.row
          label.col-sm-2.col-form-label(for="inputEmail") E-Mail
          .col-sm-10
            input#inputPassword.form-control(type="text" placeholder='@' name='email')
        .form-group.row
          label.col-sm-2.col-form-label(for="inputEmail") Birthday
          .col-sm-10
            input#inputPassword.form-control(type="date" placeholder='xx.xx.xxxx' name='birthday')
        .form-group.row
          label.col-sm-2.col-form-label(for="inputPassword") Password
          .col-sm-10
            input#inputPassword.form-control(type="password" placeholder='*******' name='password')
        .form-group.row
          label.col-sm-2.col-form-label(for="inputPassword") Repeat Password
          .col-sm-10
            input#inputPassword.form-control(type="password" placeholder='*******' name='repeatPassword')
            br
            button.btn.btn-light(type="button" id="register_btn") Submit
    
